.rare-find {
	display: flex;
	align-items: center;
	justify-content: center;

	border: solid;
	border-width: 3px;
	border-color: #091341;

	border-right: none;

	height: 10%;
	width: 90%;
}

.rare-find div, .rare-find img {
	border-right-style: solid;
	border-right-width: 3px;
	border-right-color: #091341;
}

.rare-find div {
	display: flex;
	align-items: center;
	justify-content: center;

	height: 100%;
}

.rare-find img {
	height: 100%;
	width: auto;
}

.rare-find button {
	height: 100%;
	width: auto;

	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.player-name {
	width: 40%;
}

.egg-name {
	width: 40%;
}

.egg-rarity {
	width: 20%;
}